body {
  font-family: "lato", sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #bcbbbb;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 55px;
}

.title-logo {
  margin-top: 20px;
}

.article-img-responsive {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

footer {
  height: auto;
  width: 100%;
  margin-bottom: 25px;
  padding: 10px;
  background-color: paleturquoise;
}

.footer-img-responsive {
  float: right;
  height: auto;
  width: 50%;
  max-width: 50px;
  max-height: 50px;
  margin: 0 5px;
}

@media screen and (max-width: 999px) {
  #container {
    width: 100%;
  }

  .title-logo {
    float: left;
    max-height: 100px;
    max-width: 100px;
    width: 50%;
  }

  .text-super {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  #container {
    width: 100%;
  }

  .footer-img-responsive {
    max-height: 35px;
    max-width: 35px;
  }
}

@media screen and (max-width: 400px) {
  #container {
    width: 400px;
  }
}
